{{#section 'head'}}
<title>Kinship Event Edit--Select Event</title>
{{/section}}

{{#if success}}
<p class="success">Event &ldquo;{{success}}&rdquo; successfully updated!</p>
{{/if}}

<h2>Kinship Event Edit&mdash;Select Event to Edit</h2>

<h3>Click on a Button to Edit or Delete Event</h3>

<form  method="post" id="choose">
    <input type="checkbox" value="true" name="editevent" id="editevent" 
    checked class="hidden">
    <input type="checkbox" value="true" name="deleteevent" id="deleteevent"
        class="hidden">
{{#each kevents}}
  <div class="kevent">
        <p><button type="button" value="{{name}}">Edit</button> 
        <button type="button" class="delete" value="{{name}}">Delete</button>
        <b>{{name}}</b><br>
        {{description}}</p>
{{else}}
{{#unless gettingCriteria}}
<p><b>Sorry, you have not entered any events to edit. 
        Use <a href="event-add">Add a Event</a> to enter one.</b></p>
{{/unless}}
</div>
{{/each}}
 </form>

<script src="/js/jquery-3.6.0.min.js">
</script>

<script src="/js/event-click.js">
</script>